[submodule "hugo-theme-introduction"]
	path = hugo-theme-introduction
	url = https://github.com/vickylaixy/hugo-theme-introduction.git
[submodule "themes/hugo-introduction-theme"]
	path = themes/hugo-introduction-theme
	url = https://github.com/vickylaixy/hugo-theme-introduction.git
[submodule "themes/hugo-theme-introduction"]
	path = themes/hugo-theme-introduction
	url = https://github.com/vickylaixy/hugo-theme-introduction.git
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
